<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>

		<title>Medici</title>
	</head>
	<body>
		<div th:insert="/components/navbar :: navbar" />

		<div class="container-lg">
			<div class="d-flex justify-content-center pb-3 fw-bold fs-4">
				<div th:if="${nuovo == false}"><b th:text="${patient.FirstnameLastname}">NOME E COGNOME</b></div>
				<div th:if="${nuovo == true}"><b>NUOVO PAZIENTE</b></div>
			</div>
			<!-- Dati del paziente -->
			<div class="card">
				<form th:if="${nuovo == true}" action="/nuovo-paziente" method="post">
					<div class="card-header d-flex justify-content-between align-items-center">
						<div class="col text-start">
							<div><b>INFORMAZIONI DEL PAZIENTE</b></div>
						</div>
						<div class="col text-end">
							<div>
								<a role="button" href="/pazienti" class="btn btn-warning d-block d-sm-inline mb-1 mb-sm-0"
									><i class="fas fa-times"></i> Annulla</a
								>
								<div class="d-grid d-sm-inline">
									<button style="font-size: 0.95rem; max-height: 35px; margin-top: -1px" type="submit" class="btn btn-success">
										<i class="fas fa-save"></i> Salva
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input required type="text" class="form-control" value="" id="nome" placeholder="Nome" name="nome" />
									<label for="nome">Nome</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input required type="text" class="form-control" value="" id="cognome" placeholder="Cognome" name="cognome" />
									<label for="cognome">Cognome</label>
								</div>
							</div>
						</div>
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										type="text"
										class="form-control"
										value=""
										id="codiceFiscale"
										placeholder="Codice Fiscale"
										name="cf"
									/>
									<label for="codiceFiscale">Codice Fiscale</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										type="text"
										class="form-control"
										value=""
										id="residenza"
										placeholder="Provincia di Residenza"
										name="cittaResidenza"
									/>
									<label for="residenza">Provincia di Residenza</label>
								</div>
							</div>
						</div>
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										type="text"
										class="form-control"
										value=""
										id="categoria"
										placeholder="Categoria"
										name="categoriaProblematica"
									/>
									<label for="categoria">Categoria problematica</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<textarea
										required
										class="form-control"
										placeholder="Descrizione"
										id="descProblematica"
										name="descrizioneProblematica"
									></textarea>
									<label for="descProblematica">Descrizione Problematica</label>
								</div>
							</div>
						</div>
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										type="date"
										class="form-control"
										value=""
										id="dataNascita"
										placeholder="Data di Nascita"
										name="dataNascita"
									/>
									<label for="dataNascita">Data di Nascita</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating">
									<select required class="form-select" id="medic" aria-label="Seleziona il medico" name="medico">
										<option
											th:each="medic : ${medics}"
											value="1"
											th:value="${medic.medicID}"
											th:text="${medic.FirstnameLastname} + ' - ' + ${medic.specialization}"
										>
											Medico1 - Spec1
										</option>
									</select>
									<label for="medic">Seleziona un medico</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<input type="checkbox" class="form-check-input" value="true" id="isDangerous" name="pericoloso" />
								<label class="form-check-label" for="isDangerous">Paziente pericoloso</label>
							</div>
						</div>
					</div>
				</form>

				<form th:if="${nuovo == false}" action="/modifica-paziente/1" th:action="'/modifica-paziente/' + ${patient.patientID}" method="post">
					<div class="card-header d-flex justify-content-between align-items-center">
						<div class="col text-start">
							<div><b>INFORMAZIONI DEL PAZIENTE</b></div>
						</div>
						<div class="col text-end">
							<div>
								<a
									role="button"
									href="/paziente/1"
									th:href="'/paziente/' + ${patient.patientID}"
									class="btn btn-warning d-block d-sm-inline mb-1 mb-sm-0"
									><i class="fas fa-times"></i> Annulla</a
								>
								<div class="d-grid d-sm-inline">
									<button style="font-size: 0.95rem; max-height: 35px; margin-top: -1px" type="submit" class="btn btn-success">
										<i class="fas fa-save"></i> Salva
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										th:disabled="${!patient.confirmed}"
										type="text"
										class="form-control"
										th:value="${patient.firstname}"
										id="nome"
										placeholder="Nome"
										name="nome"
									/>
									<label for="nome">Nome</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										th:disabled="${!patient.confirmed}"
										type="text"
										class="form-control"
										th:value="${patient.lastname}"
										id="cognome"
										placeholder="Cognome"
										name="cognome"
									/>
									<label for="cognome">Cognome</label>
								</div>
							</div>
						</div>
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										th:disabled="${!patient.confirmed}"
										type="text"
										class="form-control"
										th:value="${patient.cf}"
										id="codiceFiscale"
										placeholder="Codice Fiscale"
										name="cf"
									/>
									<label for="codiceFiscale">Codice Fiscale</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										th:disabled="${!patient.confirmed}"
										type="text"
										class="form-control"
										th:value="${patient.cityOfResidence}"
										id="residenza"
										placeholder="Provincia di Residenza"
										name="cittaResidenza"
									/>
									<label for="residenza">Provincia di Residenza</label>
								</div>
							</div>
						</div>
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										type="text"
										class="form-control"
										th:value="${patient.problemCategory}"
										id="categoria"
										placeholder="Categoria"
										name="categoriaProblematica"
									/>
									<label for="categoria">Categoria problematica</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										class="form-control"
										placeholder="Descrizione"
										th:value="${patient.problemDescription}"
										id="descProblematica"
										name="descrizioneProblematica"
									></input>
									<label for="descProblematica">Descrizione Problematica</label>
								</div>
							</div>
						</div>
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										required
										th:disabled="${!patient.confirmed}"
										type="date"
										class="form-control"
										th:value="${patient.BirthDateToDate}"
										id="dataNascita"
										placeholder="Data di Nascita"
										name="dataNascita"
									/>
									<label for="dataNascita">Data di Nascita</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating">
									<select required class="form-select" id="medic" aria-label="Seleziona il medico" name="medico">
										<option
											th:each="medic : ${medics}"
											value="1"
											th:value="${medic.medicID}"
											th:selected="${medic.medicID == patient?.medic?.medicID}"
											th:text="${medic.FirstnameLastname} + ' - ' + ${medic.specialization}"
										>
											Medico1 - Spec1
										</option>
									</select>
									<label for="medic">Seleziona un medico</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<input
									type="checkbox"
									class="form-check-input"
									value="true"
									th:checked="${patient.dangerous}"
									id="isDangerous"
									name="pericoloso"
								/>
								<label class="form-check-label" for="isDangerous">Paziente pericoloso</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
	</body>
</html>
