<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>

		<title>Medici</title>
	</head>
	<body>
		<div th:insert="/components/navbar :: navbar" />

		<div class="container-lg">
			<div class="d-flex justify-content-center pb-3 fw-bold fs-4">
				<div><b>DETTAGLI APPUNTAMENTO</b></div>
			</div>
			<!-- Informazioni sul medico -->
			<div class="card">
				<div class="card-header d-flex justify-content-between align-items-center">
					<div class="col text-start">
						<div><b>INFORMAZIONI SULL'APPUNTAMENTO</b></div>
					</div>

					<div class="col text-end">
						<div class="col text-end">
							<div>
								<a
									role="button"
									href="/elimina-appuntamento/1"
									th:href="'/elimina-appuntamento/' + ${appointment.appointmentID}"
									class="btn btn-danger d-block d-sm-inline mb-1 mb-sm-0"
									><i class="fas fa-trash-alt"></i> Elimina</a
								>
								<a
									href="/modifica-appuntamento/1"
									th:href="'/modifica-appuntamento/' + ${appointment.appointmentID}"
									role="button"
									class="btn btn-primary d-block d-sm-inline mb-1 mb-sm-0"
									><i class="fas fa-edit"></i> Modifica</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="mb-2 mb-md-0 d-flex align-items-stretch">
							<div class="card w-100">
								<div class="card-body">
									<h5 class="card-title mb-3">Informazioni appuntamento</h5>
									<div class="row mb-2">
										<div class="col-4 col-md-3">MEDICO</div>
										<div class="col-auto">
											<a
												href="/medico/1"
												th:href="'/medico/' + ${appointment.medic.medicID}"
												th:text="${appointment.medic.FirstnameLastname}"
												>Nome Cognome</a
											>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col-4 col-md-3">PAZIENTE</div>
										<div class="col-auto">
											<a
												href="/paziente/1"
												th:href="'/paziente/' + ${appointment.patient.patientID}"
												th:text="${appointment.patient.FirstnameLastname}"
												>Nome Cognome</a
											>
											<span th:if="${appointment.patient.dangerous == true}">
												<i class="fas fa-exclamation-triangle text-danger" title="Pericoloso"></i
											></span>
										</div>
									</div>
									<div class="row mb-2">
										<div class="col-4 col-md-3">DATA</div>
										<div class="col-auto"><b th:text="${appointment.appointmentDate}">06/12/21</b></div>
									</div>
									<div class="row mb-2">
										<div class="col-4 col-md-3">CLINICA</div>
										<div class="col-auto"><b th:text="${appointment.clinic}">Venezia</b></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="my-5"></div>

			<!-- Comunicazioni -->
			<div class="card">
				<div class="card-header d-flex justify-content-between align-items-center">
					<div class="col text-start">
						<b>COMUNICAZIONI</b>
					</div>
					<div class="col text-end">
						<a
							href="/nuova-comunicazione/1"
							th:href="'/nuova-comunicazione/' + ${appointment.appointmentID}"
							role="button"
							class="btn btn-success"
							><i class="fas fa-plus"></i> Nuova</a
						>
					</div>
				</div>
				<div class="card-body table-responsive">
					<table class="table table-hover" style="vertical-align: middle; text-align: center">
						<thead>
							<tr>
								<th scope="col" style="width: 10%">Data</th>
								<th scope="col" style="width: 70%">Testo</th>
								<th scope="col" style="width: 10%">Per il medico</th>
								<th scope="col" style="width: 10%">Per il paziente</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="communication : ${communications}">
								<th scope="row" th:text="${communication.communicationDate}">06/12/21</th>
								<td class="text-start" th:text="${communication.communicationText}">
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio eius architecto error enim ipsam molestias
									accusantium non, nulla mollitia, porro nobis incidunt dolore animi alias officiis nemo! Dignissimos, deleniti
									deserunt.
								</td>
								<td>
									<span th:if="${communication.forMedic == false}"> NO <i class="fas fa-times text-danger"></i></span>
									<span th:if="${communication.forMedic == true}"> SI <i class="fas fa-check text-success"></i></span>
								</td>
								<td>
									<span th:if="${communication.forPatient == false}"> NO <i class="fas fa-times text-danger"></i></span>
									<span th:if="${communication.forPatient == true}"> SI <i class="fas fa-check text-success"></i></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
	</body>
</html>
