<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
			crossorigin="anonymous"
		/>

		<title>Medici</title>
	</head>
	<body>
		<div th:insert="/components/navbar :: navbar" />

		<div class="container-lg">
			<div class="d-flex justify-content-center pb-3 fw-bold fs-4">
				<div th:if="${nuovo == false}"><span>MODIFICA APPUNTAMENTO</span> ID: <b th:text="${appointment.appointmentID}">ID</b></div>
				<div th:if="${nuovo == true}"><b>NUOVO APPUNTAMENTO</b></div>
			</div>

			<div class="card">
				<form th:if="${nuovo == true}" action="/nuovo-appuntamento" method="post">
					<div class="card-header d-flex justify-content-between align-items-center">
						<div class="col text-start">
							<div><b>DETTAGLI APPUNTAMENTO</b></div>
						</div>
						<div class="col text-end">
							<div>
								<a role="button" href="/appuntamenti" class="btn btn-warning d-block d-sm-inline mb-1 mb-sm-0"
									><i class="fas fa-times"></i> Annulla</a
								>
								<div class="d-grid d-sm-inline">
									<button style="font-size: 0.95rem; max-height: 35px; margin-top: -1px" type="submit" class="btn btn-success">
										<i class="fas fa-save"></i> Salva
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<select
										th:if="${byMedic == true}"
										class="form-select"
										id="medic"
										name="medic"
										aria-label="Seleziona il medico"
										style="background: #e9ecef"
										required
									>
										<option value="1" th:value="${medic.medicID}" th:text="${medic.FirstnameLastname}">Medico1</option>
									</select>
									<select
										th:if="${byPatient == true}"
										class="form-select"
										id="medic"
										name="medic"
										aria-label="Seleziona il medico"
										style="background: #e9ecef"
										required
									>
										<option value="1" th:value="${patient.medic.medicID}" th:text="${patient.medic.FirstnameLastname}">
											Medico1
										</option>
									</select>
									<label for="medic">Seleziona il medico</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<select
										th:if="${byMedic == true}"
										class="form-select"
										id="patient"
										name="patient"
										aria-label="Seleziona il paziente"
										required
									>
										<option
											th:each="patient : ${medicPatients}"
											value="1"
											th:value="${patient.patientID}"
											th:text="${patient.FirstnameLastname}"
										>
											Paziente1
										</option>
									</select>
									<select
										th:if="${byPatient == true}"
										class="form-select"
										id="patient"
										name="patient"
										aria-label="Seleziona il paziente"
										style="background: #e9ecef"
										required
									>
										<option value="1" th:value="${patient.patientID}" th:text="${patient.FirstnameLastname}">Paziente1</option>
									</select>

									<label for="patient">Seleziona il paziente</label>
								</div>
							</div>
						</div>
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input type="text" class="form-control" value="" id="clinic" name="clinic" placeholder="Clinica" required />
									<label for="clinic">Clinica</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-">
									<input
										required
										type="date"
										class="form-control"
										value=""
										id="appointmentDate"
										placeholder="Data appuntamento"
										name="appointmentDate"
									/>
									<label for="appointmentDate">Data</label>
								</div>
							</div>
						</div>
					</div>
				</form>

				<form
					th:if="${nuovo == false}"
					action="/modifica-appuntamento"
					th:action="'/modifica-appuntamento/' + ${appointment.appointmentID}"
					method="post"
				>
					<div class="card-header d-flex justify-content-between align-items-center">
						<div class="col text-start">
							<div><b>DETTAGLI APPUNTAMENTO</b></div>
						</div>
						<div class="col text-end">
							<div>
								<a
									role="button"
									href="/appuntamenti"
									th:href="'/appuntamento/' + ${appointment.appointmentID}"
									class="btn btn-warning d-block d-sm-inline mb-1 mb-sm-0"
									><i class="fas fa-times"></i> Annulla</a
								>
								<div class="d-grid d-sm-inline">
									<button style="font-size: 0.95rem; max-height: 35px; margin-top: -1px" type="submit" class="btn btn-success">
										<i class="fas fa-save"></i> Salva
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<select
										class="form-select"
										id="medic"
										name="medic"
										aria-label="Seleziona il medico"
										style="background: #e9ecef"
										required
									>
										<option
											value="1"
											th:value="${appointment.patient.medic.medicID}"
											th:text="${appointment.patient.medic.FirstnameLastname}"
										>
											Medico1
										</option>
									</select>
									<label for="medic">Seleziona il medico</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<select
										class="form-select"
										id="patient"
										name="patient"
										aria-label="Seleziona il paziente"
										style="background: #e9ecef"
										required
									>
										<option
											value="1"
											th:value="${appointment.patient.patientID}"
											th:text="${appointment.patient.FirstnameLastname}"
										>
											Paziente1
										</option>
									</select>

									<label for="patient">Seleziona il paziente</label>
								</div>
							</div>
						</div>
						<div class="row mb-sm-3">
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-3">
									<input
										type="text"
										class="form-control"
										value=""
										th:value="${appointment.clinic}"
										id="clinic"
										name="clinic"
										placeholder="Clinica"
										required
									/>
									<label for="clinic">Clinica</label>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="form-floating mb-">
									<input
										type="date"
										class="form-control"
										value=""
										th:value="${appointment.appointmentDateToDate}"
										id="appointmentDate"
										name="appointmentDate"
										placeholder="Specializzazione"
										required
									/>
									<label for="appointmentDate">Data</label>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
	</body>
</html>
